.cm-team-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.cm-card {
	height: 420px;
	margin: 1em;
	perspective: 1500px;
	border: none;
	width: 280px;
	max-width: 33.3333333333%;
	min-width: 280px;
	background-color: #f8f9fa;
}

.cm-card .cm-card-content {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.cm-card-more {
	display: none;
}

.cm-card-more:checked ~ .cm-card-content {
	transform: rotateY(180deg);
}

.cm-front,
.cm-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.cm-front .cm-inner,
.cm-back .cm-inner {
	height: 100%;
	display: grid;
	padding: 1.5em;
	transform: translateZ(80px) scale(0.94);
}

.cm-front {
	background-color: #f8f9fa;
	background-size: cover;
	background-position: center center;
}

.cm-front:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	backface-visibility: hidden;
	border: 1px solid #f0f0f0;
}

.cm-front .cm-inner {
	grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
	justify-items: center;
}

.cm-front h4 {
	grid-row: 2;
	margin-bottom: 0.3em;
}

.cm-front span {
	grid-row: 3;
}

.cm-back {
	transform: rotateY(180deg);
	background-color: #f8f9fa;
	border: 1px solid #f0f0f0;
}

.cm-back .cm-inner {
	grid-template-rows: 2fr 20fr 1fr 2fr;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 0.8em;
	justify-items: center;
}

.cm-back .cm-description {
	grid-row: 2;
	grid-column: 1/-1;
	font-size: 0.85em;
	line-height: 1.5em;
	overflow: auto;
	padding-right: 10px;
	text-align: left;
}

.cm-back .cm-description p {
	margin-bottom: 20px;
}

.cm-back .cm-button {
	grid-column: 1/-1;
	justify-self: center;
}

.cm-button {
	grid-row: -1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	cursor: pointer;
	display: block;
	padding: 0 1.5em;
	height: 3em;
	line-height: 2.9em;
	min-width: 3em;
	background-color: transparent;
	border: solid 2px #4166b0;
	color: #4166b0;
	text-align: center;
	left: 50%;
	backface-visibility: hidden;
	transition: 0.3s ease-in-out;
}

.cm-button:hover {
	background-color: #4166b0;
	color: #fff;
}

.cm-button.cm-return {
	line-height: 3em;
	color: #4166b0;
	border-color: #4166b0;
}

.cm-button.cm-return:hover {
	background-color: #4166b0;
	color: #fff;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
	background: #199db1;
}

.cm-team-avatar {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	margin: 30px auto;
	overflow: hidden;
}

.cm-team-avatar img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.cm-line-height01 {
	line-height: 1.5em;
}

.cm-width-80 {
	width: 80%;
	margin: 0 auto;
}

.cm-fade-text {
	max-height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	content: "";
	position: relative;
}

.cm-fade-text:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 150px, #f8f9fa);
}

.cm-fade-text-white {
	max-height: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
	content: "";
	position: relative;
}

.cm-fade-text-white:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 10px, #fff);
}

.cm-show-more-div {
	text-align: center;
	margin-top: 80px;
}

.cm-feature-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
	justify-content: center;
}

.cm-feature-icon {
	width: 150px;
	margin-bottom: 20px;
}

.cm-feature-title {
	font-size: 1.25rem;
}

.cm-feature-box, .cm-feature-box-small {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.cm-feature-box {
	width: 200px;
	margin: 20px 15px;
}

.cm-feature-box-small {
	width: 180px;
	margin: 0;
}

.cm-gradient-bg1 {
	background: #265daa;
	background: -moz-linear-gradient(top, #265daa 2%, #199db1 82%) !important;
	background: -webkit-linear-gradient(top, #265daa 2%, #199db1 82%) !important;
	background: linear-gradient(to bottom, #265daa 2%, #199db1 82%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', GradientType=0) !important;
}

.gradient-bg-dark {
	background: #4266af;
	background: -moz-linear-gradient(top, #4266af 2%, #152146 82%) !important;
	background: -webkit-linear-gradient(top, #4266af 2%, #152146 82%) !important;
	background: linear-gradient(to bottom, #4266af 2%, #152146 82%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', GradientType=0) !important;
}

.cm-catchphrase {
	line-height: 1.5em;
	margin: 0 0 2.5rem 1rem;
	text-align: left;
	font-style: italic;
	font-size: 1.5rem;
	font-weight: 500;
}

.cm-sidebar-logo {
	margin-top: 40px;
	margin-bottom: -30px;
}

.cm-group-logo-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 2rem;
}

.cm-group-logo {
	max-width: 150px;
	margin: 1.2rem;
}

.cm-logo-main {
	max-width: 450px;
	margin-bottom: 20px;
}

.cm-cookie-banner {
	text-align: center;
	font-size: 13px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(66, 102, 174, 0.85);
	z-index: 9999999;
	padding: 15px 15px 0;
}

/* Classes for specific ids */
#read_less_pedigree, #read_less_labuan {
	display: none;
}

/* Animation classes */
.cm-path {
	stroke-dasharray: 1500;
	stroke-dashoffset: 2000;
	animation: dash 5s linear alternate infinite;
}

@keyframes dash {
	from {
		stroke-dashoffset: 922;
	}

	to {
		stroke-dashoffset: 0;
	}
}

/*  Customize existing classes  */
.modal-header, .modal-footer {
	border: none;
}

.modal-body {
	padding: 1.5rem;
	font-size: 0.8rem;
}

.side-menu {
	background-color: #4166b0 !important;
}

.address-text a:hover {
	color: #265daa;
}

ul {
	list-style-type: disc;
	margin: 1rem 1.5rem 2rem;
}