@media screen and (max-width: 1025px) {
	.feature-skill-box {
		padding: 1rem 1.5rem 0;
	}

	.cm-feature-box {
		width: 200px;
		margin: 30px 10px;
	}
}

@media screen and (max-width: 768px) {
	.cm-feature-box-small {
		width: 140px;
	}

	.cm-feature-box-small .cm-feature-icon {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 577px) {
	blockquote {
		padding: 0 1rem;
	}

	h5 {
		font-size: 1.15rem;
	}

	.display-3 {
		font-size: 2.5rem;
		margin-top: 5rem;
	}

	.cm-feature-box .cm-feature-icon {
		width: 60px;
	}

	.cm-feature-box {
		width: 120px;
		margin-bottom: 1rem;
	}

	.cm-feature-title {
		font-size: 0.9rem;
	}

	.cm-feature-box-small {
		width: 120px;
	}

	.cm-feature-box-small .cm-feature-icon {
		width: 100%;
		margin-bottom: 0;
	}

	.cm-catchphrase {
		margin-bottom: 2rem;
		text-align: left;
		margin-top: 0;
	}
}

@media screen and (max-width: 376px) {
	.cm-sidebar-logo {
		margin-top: 20px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 320px) {
	.side-menu .inner-wrapper {
		padding: 3.5rem 6rem;
	}
}